
.nav{
    height: 40px;
    background-color: #000000;
    padding: 25px; 
    border-radius: 20px;
   
}



.botones{
    float:left;
    margin: 0px 20px 0px 20px;
    color: white;
    font-weight: bolder;
    font-size: large;
    font-family: cursive;
    text-decoration: none;
}

.botones:hover{
    color:darkgray
}