.botones{
    float:left;
    margin: 0px 20px 0px 20px;
    color: white;
    font-weight: bolder;
    font-size: large;
    font-family: cursive;
    text-decoration: none;
}

.botones:hover{
    color:darkgray
}